@font-face {
  font-family: 'LXGWS';
  src: url('/fonts/LXGWNeoZhiSong.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IPIX';
  src: url('/fonts/IPIX.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'LXGWS', sans-serif;
  font-size: 16px;
  overflwow: hidden;
}
body {
  background-image: linear-gradient(90deg, rgba(50, 0, 0, 0.05) 3%, rgba(0, 0, 0, 0) 3%), linear-gradient(360deg, rgba(50, 0, 0, 0.05) 3%, rgba(0, 0, 0, 0) 3%);
  background-size: 20px 20px;
}

#__nuxt {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}
/* .bg-grid-dashed::before {
  background: linear-gradient(to right,white 25px,transparent 25px),
  linear-gradient(to bottom,blue 25px,transparent 25px);
  background-size: 50px 200px;
}

.bg-grid-dashed::after {
  background: linear-gradient(to bottom,white 25px,transparent 25px),
  linear-gradient(to right,blue 25px,transparent 25px);
  background-size: 200px 50px;
} */

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
/* 页面切换动画 模糊 */
/* .page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(10px);
} */

/* 页面切换动画 上下切换*/
.page-enter-active,
.page-leave-active {
  transition: all 0.2s;
}
.page-enter-from,
.page-leave-to {
  /* opacity: 0; */
  filter: blur(4px);
  /* transition-delay: .1s; */
  /* transform: translateX(-190%);
  -webkit-transform: translateX(-190%);
  -moz-transform: translateX(-190%);
  -o-transform: translateX(-190%);
  transition-delay: .4s !important; */
  /* transform: translate3d(0, 100%, 0); */
  /* animation: animate-line 3s ease-in-out; */
}

@keyframes animate-line {
  10% {
      transform: scale(1, 0.002);
  }
  35% {
      transform: scale(0.2, 0.002);
      opacity: 1;
  }
  50% {
      transform: scale(0.2, 0.002);
      opacity: 0;
  }
  85% {
      transform: scale(1, 0.002);
      opacity: 1;
  }
  100% {
      transform: scale(1, 1);
  }
}