@import 'tailwindcss';
@import 'tw-animate-css';
@config "../../../tailwind.config.js";

@custom-variant dark (&:is(.dark *));

.mdc-prose {
  @apply prose prose-zinc prose-p:text-zinc-600 dark:prose-p:text-zinc-300 dark:prose-invert prose-pre:bg-zinc-100 prose-pre:mt-0 dark:prose-pre:bg-zinc-800 dark:text-zinc-200 dark:prose-strong:text-zinc-200 dark:prose-blockquote:text-zinc-300 prose-code:font-bold prose-code:text-cyan-600 prose-p:text-base max-w-full;
}

/* 针对page的prose颜色配置 */
.mdc-page-prose {
  @apply prose prose-zinc dark:prose-invert dark:text-zinc-200 dark:prose-strong:text-zinc-200 prose-code:bg-zinc-200 dark:prose-code:bg-zinc-200 prose-code:text-zinc-800 dark:prose-blockquote:text-zinc-300;
}

/* 针对memo的prose颜色配置 */
.mdc-memo-prose {
  @apply prose prose-zinc prose-p:leading-5 prose-p:mb-2 dark:text-zinc-200 dark:prose-strong:text-zinc-200 prose-code:bg-cyan-100 dark:prose-code:bg-cyan-600 prose-code:text-zinc-800 dark:prose-code:text-zinc-800 dark:prose-blockquote:text-zinc-300;
}

.hover-shadow-cyan {
  @apply hover:shadow-md transition-shadow duration-300 hover:shadow-cyan-600;
}

.hover-shadow-zinc {
  @apply hover:shadow-md transition-shadow duration-300 hover:shadow-zinc-600;
}

.card-box {
  @apply p-4 rounded-md transition-all duration-300;
}

@keyframes flow {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.141 0.005 285.823);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.141 0.005 285.823);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.274 0.006 286.033);
  --input: oklch(0.274 0.006 286.033);
  --ring: oklch(0.442 0.017 285.786);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.274 0.006 286.033);
  --sidebar-ring: oklch(0.442 0.017 285.786);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: 'LXGWS';
  src: url('/fonts/LXGWNeoZhiSong.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: 'IPIX';
  src: url('/fonts/IPIX.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Silver';
  src: url('/fonts/Silver.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DouYin';
  src: url('/fonts/DouyinSansBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NanoDSong';
  src: url('/fonts/NanoDyongSong.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'LXGWS', sans-serif;
  font-size: 16px;
}

#__nuxt {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.highlight-explain-selection {
  text-decoration: underline oklch(60.9% 0.126 221.723) wavy 2px;
  position: relative;
  cursor: pointer;
}

/* 气泡提示样式 */
.explain-tooltip {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* 定位在文本上方 */
  left: 50%;
  transform: translateX(-50%);
  max-width: 500px;
  @apply bg-amber-100;
  color: #333;
  text-align: left;
  border-radius: 6px;
  padding: 10px;
  min-width: 200px;
  max-width: 300px;
  width: max-content;
  max-height: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition:
    opacity 0.4s,
    visibility 0.4s;
  font-size: 14px;
  line-height: 1.4;
  border: 1px solid #ddd;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.explain-content {
  width: 100%;
  overflow-y: auto; /* 纵向超出时显示滚动条 */
  max-height: 476px; /* 最大高度减去内边距 */
  font-size: 14px;
  font-weight: 800;
  word-break: nowrap;
}
/* 气泡箭头 */
.explain-tooltip::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  border-width: 8px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  @apply border-t-amber-100;
}

/* 显示气泡 */
.highlight-explain-selection:hover .explain-tooltip,
.highlight-explain-selection.active .explain-tooltip {
  visibility: visible;
  opacity: 1;
}

.highlight-explain-selection::after {
  content: ' ';
  /* width: 8px;
  height: 8px;
  font-weight: bold;
  border-radius: 50%;
  background-color: oklch(60.9% 0.126 221.723);
  position: absolute;
  right: -8px;
  top: -6px; */
}

.article-post-item {
  @apply box-border transition-all duration-300 rounded-lg bg-white/60 dark:bg-zinc-800 hover:shadow-lg hover:shadow-zinc-200 hover:border-solid hover:bg-white dark:hover:shadow-zinc-600 border border-zinc-100 border-dashed dark:border-zinc-700;
}

@theme inline {
  --animate-aurora: aurora 60s linear infinite;
  @keyframes aurora {
    from {
      background-position:
        50% 50%,
        50% 50%;
    }
    to {
      background-position:
        350% 50%,
        350% 50%;
    }
  }
}
